<form>
    <input type="hidden" id="post-id" value="{{post.id}}" />
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" id="title" value="{{title}}">
    </div>
    <div class="form-group">
        <label for="post_text">Post</label>
        <textarea class="form-control" name="post_text" id="post_text" cols="30" rows="10">{{post_text}}</textarea>
    </div>
    <button id="btn" type="submit" class="btn btn-primary">Edit Post</button>

    {{! need this script because HTML cant do put requests and im not making middleware to handle that
    nor am i making a js file just to deal with this 1 thing}}
    <script>
        const btn = document.getElementById('btn');
        let title = document.getElementById('title');
        let post_text = document.getElementById('post_text');
        const postId = document.getElementById('post-id');

        btn.addEventListener('click', (e) => {
            e.preventDefault();
            fetch('/edit/' + postId.value, {
                method: 'PUT',
                body: JSON.stringify({
                    title: title.value,
                    post_text: post_text.value
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then((res) => {
                document.location.replace('/profile');
                console.log(res);
            }).catch((err) => {
                console.log(err);
            });
        });
    </script>
</form>