<section>
    <form action="/newpost" method="POST" class="my-4">
        <div class="mb-3">
            <input type="text" name="title" class="form-control" placeholder="Title">
        </div>
        <div class="mb-3">
            <textarea name="post_text" class="form-control" placeholder="Post text"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create post</button>
    </form>
</section>