<main>
    {{#if loggedIn}}
    <form action="/newpost" method="GET">
        <button type="submit" class="btn btn-primary">Create post</button>
    </form>
    {{/if}}


    {{> (lookup . 'formPartial') }}

</main>